*{
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.05em;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

#header{
    --header-height : 48px;
    max-width: 480px;
    
}
h1{
    word-break: break-word;
    line-height: normal;
}
input{
    color: #000;
    outline: none;
    appearance: none;
    box-shadow: none;
    border: 0;   
}
input[type="text"]{
    padding-block: 1px;
    padding-inline: 2px;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    background: transparent;
    color: #000;
    font-size: 14px;
}
#header .inner{
    margin: 0 auto;
    max-width: 480px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #fff;
}
#header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
}
#header .header-left{
    display: flex;
    align-items: center;
    height: 100%;
}

#header .brand{
    text-indent: -9999px;
    mask-image: url(./images/hamburger-solid.svg);
    mask-size: 21px;
    
    width: 21px;
    height: 21px;
    padding: 1px 0 0 1px;
    margin: 0 20px 0 -1px;
    background-color: #FF3D00;
}

#header .search input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 18px;
    height: 36px;
    
    background: #f1f1f1 url(./images/search-solid.svg) 12px 50% no-repeat;
    background-size: 15px;
    padding-right: 15px;
    padding-left: 44px;
    font-weight: 500;
    letter-spacing: -.05em;

}

#header .header-right{
    display: flex;
    align-items: center;
    margin-left: auto;
    flex: none;
}

#header .header-right .btn-mark {
    background: url(./images/bookmark-regular.svg) 50% 50% no-repeat;
    width: 21px;
    height: 21px;
    display: block;
    text-indent: -999em;
    overflow: hidden;
    margin-left: 8px;
}

.alarm{
    width: 21px;
    height: 21px;
    margin-left: 10px;
    background: url(/images/bell-regular.svg) 50% 50% no-repeat;
    position: relative;
    background-size: contain;
}

.alarm span{
    position: absolute;
    width: 1px ;
    height: 1px;
    border: 0;
    z-index: -1;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

/* main */
main{
    min-height: 1000px;
}


/* location-select */
.location-select{
    position: sticky;
    top: 48px;
    height: 48px;
    padding: 0 20px;
    z-index: 10;
    border-top: 1px solid #f4f4f4;
    background-color: #fff;
    transition: top .3s;
}

.location-select button{
    display: flex;
    align-items: center;
    height: 100%;
}
.location-select i{
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(/images/map-marker-alt-solid.svg) 50% 50% no-repeat;
    text-indent: -999em;
}
.location-select span{
    padding: 0 8px 0 4px;
    font-weight: 700;
    font-size: 16px;
}

/* dock */
#dock{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#dock .dock-container{
    position: relative;
    margin: 0 auto;
    max-width: 480px;
    background: #fff;
    border-top: 1px solid #f9f9f9;
}
#dock .dock-container .dock-menu{
    display: flex;
    height: 48px;
    box-sizing: border-box;
    position: relative;
}
#dock .dock-container .dock-menu a{
    position: relative;
    display: block;
    flex: 1;
    height: 48px;
}
#dock .dock-container .dock-menu a i{
    display: block;
    text-indent: -999em;
    height: 48px;
    /* background: 50% 50% no-repeat; */
    overflow: hidden;
    width: 100%;
    position: relative;
    /* background-size: 25px; */
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 25px;
    background-color: black;
}
#dock .dock-container .dock-menu a i.home{
    mask-image: url(/images/home-solid.svg);
}
#dock .dock-container .dock-menu a i.search-icon{
    mask-image: url(/images/search-solid.svg);
}
#dock .dock-container .dock-menu a i.review{
mask-image: url(/images/comment-dots-regular.svg);
}
#dock .dock-container .dock-menu a i.mydining{
mask-image: url(/images/calendar-minus-regular.svg);
}
#dock .dock-container .dock-menu a i.account{
    mask-image: url(/images/user-regular.svg);
}

#dock .dock-container .dock-menu a.active i{
    background-color: #FF3D00;
}